* {
  margin: 0;
  padding: 0;
}

.sourcebtn {
  position: fixed;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  bottom: 0;
  left: 0;

  color: yellowgreen;
  text-decoration: none;
}

.sourcebtn:hover {
  color: white;
}
